# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/VSWorkspaceState.json
/.vs/sort-and-optimization/v15/ipch/AutoPCH/7c1fe3eaf49b27ba/HEAPSORT.ipch
/.vs/sort-and-optimization/v15/ipch/AutoPCH/5139f9cbef114c49/HEAPSORT.ipch
/.vs/sort-and-optimization/v15/ipch/AutoPCH/342400ee6c537602/BUBLESORT.ipch
/.vs/sort-and-optimization/v15/ipch/AutoPCH/2429bd530b07590f/MAIN.ipch
/.vs/sort-and-optimization/v15/Browse.VC.opendb
/.vs/sort-and-optimization/v15/Browse.VC.db
/.vs/sort-and-optimization/v15/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/x64/Debug/sort-and-optimization.pdb
/x64/Debug/sort-and-optimization.ilk
/sort-and-optimization/x64/Debug/vc141.pdb
/sort-and-optimization/x64/Debug/vc141.idb
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/sort-and-optimization.lastbuildstate
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/link.write.1.tlog
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/link.read.1.tlog
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/link.command.1.tlog
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/CL.write.1.tlog
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/CL.read.1.tlog
/sort-and-optimization/x64/Debug/sort-and.F0354082.tlog/CL.command.1.tlog
/sort-and-optimization/x64/Debug/sort-and-optimization.log
